{% extends "base.htm" %}

{% block body %}
{% include "header.htm" %}


<section class="content-wrap">
        <div class="container">
            <div class="row">

                <main class="col-md-8 main-content">

<article id="70" class="post">

    <div class="post-head">
        <h1 class="post-title"><a href="/post/laravel-5-3-is-now-released/">Laravel 5.3 正式发布</a></h1>
        <div class="post-meta">
            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
            <time class="post-date" datetime="2016年8月24日星期三凌晨2点04分" title="2016年8月24日星期三凌晨2点04分">2016年8月24日</time>
        </div>
    </div>
    <div class="featured-media">
        <a href="/post/laravel-5-3-is-now-released/"><img src="http://image.golaravel.com/9/a9/c367f99a8366ca86f7b889da25022.png" alt="Laravel 5.3 正式发布"></a>
    </div>
    <div class="post-content">
        <p>Laravel 项目组自豪地宣布 Laravel 5.3 正式发布了 ！5.3 版本中的新增特性主要集中在提升开发速度，通过增强常见任务的开箱即用功能提升开发效率。 此版本是常规发布版本，提供六个月的 bug 修复补丁和一年的安全补丁。当前，Laravel 5.1 是最新的 LTS（长期支持） 版本，提供两年的 bug</p>
    </div>
    <div class="post-permalink">
        <a href="/post/laravel-5-3-is-now-released/" class="btn btn-default">阅读全文</a>
    </div>

    <footer class="post-footer clearfix">
        <div class="pull-left tag-list">
            <i class="fa fa-folder-open-o"></i>

        </div>
        <div class="pull-right share">
        </div>
    </footer>
</article>
                </main>

                <aside class="col-md-4 sidebar">
                <!-- start widget -->
<!-- end widget -->

<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="title">社区</h4>
	<div class="content community">
		<p>QQ群：462694081</p>
		<p><a href="http://wenda.golaravel.com/" title="Laravel中文网问答社区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 问答社区</a></p>
	</div>
</div>
<!-- end tag cloud widget -->

<!-- start widget -->
<div class="widget">
	<h4 class="title">下载</h4>
	<div class="content download">
		<a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载 Laravel &amp; Lumen'])">Laravel &amp; Lumen 一键安装包下载</a>
	</div>
</div>
<!-- end widget -->


<!-- start tag cloud widget -->
<div class="widget">
	<h4 class="title">标签云</h4>
	<div class="content tag-cloud">
		<a href="/tag/laravel-5-2/">Laravel 5.2</a>
<a href="/tag/spark/">Spark</a>
<a href="/tag/jing-xiang/">镜像</a>
<a href="/tag/xin-ban-ben-fa-bu/">新版本发布</a>
<a href="/tag/lts/">LTS</a>
<a href="/tag/wei-kuang-jia/">微框架</a>
<a href="/tag/lumen/">Lumen</a>
<a href="/tag/ming-ming-kong-jian/">命名空间</a>
<a href="/tag/laravel4/">Laravel4</a>
<a href="/tag/whoops/">Whoops</a>
<a href="/tag/event/">Event</a>
<a href="/tag/sheng-ji/">升级</a>
<a href="/tag/laravle5/">laravle5</a>
<a href="/tag/error-page/">错误页</a>
<a href="/tag/laravel-5/">Laravel 5</a>
<a href="/tag/artisan/">Artisan</a>
<a href="/tag/laravel-5-1/">Laravel 5.1</a>
<a href="/tag/lravel/">Lravel</a>


		<a href="/tag-cloud/">...</a>
	</div>
</div>
<!-- end tag cloud widget -->

<!-- start widget -->
<!-- end widget -->

<!-- start widget -->
<!-- end widget -->                </aside>

            </div>
        </div>
    </section>


{% end %}
{% block footer_static %}
{% end %}